<div class="container">
    <div class="card-body">
        <h3>Datos del Cliente</h3>
        <div class="row">
            <div class="form-group col">
                <label for="">Identificación:</label>
                <input [(ngModel)]="persona.identificacion" name="identificacion" type="text" class="form-control">
            </div>
            <div class="form-group col">
                <label for="">Nombres:</label>
                <input [(ngModel)]="persona.name" name="name" type="text" class="form-control">
            </div>
        </div>
            <div class="form-group">
                <label for="">Apellidos:</label>
                <input [(ngModel)]="persona.apellidos" name="apellidos" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Direccion:</label>
                <input [(ngModel)]="persona.direccion" name="direccion" type="text" class="form-control">
            </div>
            <div class="row" style="margin: 10px;">
               <button (click)="AgregaCuenta()" class="btn btn-info" style="margin-right: 10px;">Agregar Cuenta</button>
            </div>
            
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Cuentas Bancarias</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>Numro Cuenta</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                   <tr *ngFor="let cuenta of cuentas">
                       <td>{{cuenta.id}}</td>
                       <td>{{cuenta.cuentaNumero}}</td>
                       <td *ngIf="cuenta.cuentaNumero">Activo</td>
                       <td *ngIf="!cuenta.cuentaNumero">Inactiva</td>
                       <td>
                        <button  class="btn btn-warning">Detalle</button>
                      </td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>