<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Cliente</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>identificacion</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Direccion</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                   <tr *ngFor="let persona of personas">
                       <td>{{persona.id}}</td>
                       <td>{{persona.identificacion}}</td>
                       <td>{{persona.name}}</td>
                       <td>{{persona.apellidos}}</td>
                       <td>{{persona.direccion}}</td>
                       <td>
                        <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
                        <button  (click)="Cuentas(persona)" class="btn btn-danger" style="margin-left: 10px;">Cuentas</button>
                      </td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>