<div class="container">
    <h3>Datos del Cliente</h3>
    <div class="row">
        <div class="form-group col">
            <label for="">Identificación:</label>
            <input [(ngModel)]="persona.identificacion" name="identificacion" type="text" class="form-control">
        </div>
        <div class="form-group col">
            <label for="">Nombres:</label>
            <input [(ngModel)]="persona.name" name="name" type="text" class="form-control">
        </div>
    </div>
        <div class="form-group">
            <label for="">Apellidos:</label>
            <input [(ngModel)]="persona.apellidos" name="apellidos" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Direccion:</label>
            <input [(ngModel)]="persona.direccion" name="direccion" type="text" class="form-control">
        </div>

    <div class="card">
        <div class="card-header">
            <h3>Datos de la Cuenta</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Numero de Cuenta:</label>
                    <input [(ngModel)]="cuenta.cuentaNumero" name="identificacion" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Moneda:</label>
                    <select name="moneda" id="singleSelect" [(ngModel)]="cuenta.moneda" class="form-control">
                        <option value="1">Dollar</option>>
                        <option value="2">Cordoba</option> 
                      </select>
                </div>
                <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
